* {
  font-family: 'Indie Flower', cursive;
  margin: 0px;
  text-decoration: none;
}

html {
  font:14px normal Arial, sans-serif;
}

body {
  text-align: center;
}

ul {
  list-style:none;
  display: inline-block;
}

ul li{
  display: inline-block;
  padding: 10px 20px;
  cursor:pointer;
  background-color:#eee;
  color:black;
  transition:0.3s;
}

ul li:hover{
  background-color:#111;
  padding: 10px 120px;
}

#gridContainer {
  display: grid;
  grid-template-columns: repeat(10,10%);
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

#gridHeader {
  grid-column: 4/7;
  grid-row-start: 2;
}

#gridBody {
  grid-column: 3/8;
  grid-row-start: 6;
}
